body {
  margin: 0;
}

header {
  background-color: lightskyblue;
}

main {
  background-color: lightcyan;
}

footer {
  background-color: lightblue;
  height: 5em;
  position: absolute;
  bottom: 0;
  width: 100%;
}
